<h1>Sign Up</h1>

<form action="<%= users_path %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  />

  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="user[username]" />

  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="user[email]" />

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="user[password]" />

  <button type="submit">Sign Up</button>
</form>
